*{
	margin: 0;
	padding: 0;
}
.pg-404	{
	width: 100%;
    max-width: 600px;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    padding-top: 150px;
}
	.pg-404	a.logo-404{
		display: block;
	    width: 100%;
	    margin: 0 auto;
	    text-decoration: none;
	    max-width: 200px;
	}	
		.pg-404	a.logo-404 figure{
	
		}
			.pg-404	a.logo-404 figure img{
				width: 100%;
				height: auto;
			}
	.pg-404	span.notFound{
        display: block;
	    text-align: left;
	    font-size: 28px;
	    text-transform: uppercase;
	    letter-spacing: 1px;
	}
		.pg-404	span.notFound strong{
		    display: inline-block;
		    font-weight: 600;
		    margin-right: 10px;
		}
	.pg-404	span.currentUrl{
	    display: block;
	    margin: 20px 0;
	 	font-size: 19px;
	}
	.pg-404	p{
	    margin: 0;
	    font-weight: 100;
	    margin-bottom: 5px;
	}
	.pg-404	div.botoes-404{
    	margin-top: 30px;
	}
		.pg-404	div.botoes-404 a.voltarUmaPagina{
		    text-decoration: none;
		    display: inline-block;
		    text-align: center;
		    padding: 10px 23px;
		    background: #f18c25;
		    font-size: 15px;
		    color: #fff;
		    letter-spacing: 2px;
		    border-radius: 3px;
		    border: 1px solid transparent;
		}
		.pg-404	div.botoes-404 a.voltarUmaPagina:hover {
			background: #fff;
			color: #f18c25;
			border: 1px solid #f18c25;
			transition: all .3s;
			-webkit-transition: all .3s;
			-moz-transition: all .3s;
			-o-transition: all .3s;
		}
		.pg-404	div.botoes-404 span{
			display: inline-block;
		    margin: 0 5px;
		}
		.pg-404	div.botoes-404 a.paginaInicial{
			background: #2a3557;
		    color: #fff;
		    padding: 10px 16px;
		    border-radius: 3px;
		    text-align: center;
		    text-decoration: none;
		    border: 1px solid transparent;
		}
		.pg-404	div.botoes-404 a.paginaInicial:hover{
			background: #fff;
			color: #2a3557;
			border: 1px solid #2a3557;
			transition: all .3s;
			-webkit-transition: all .3s;
			-moz-transition: all .3s;
			-o-transition: all .3s;
		}
@media(max-width: 768px){
	.pg-404, .pg-404 span.notFound {
		text-align: center;
	}
	.pg-404 div.botoes-404 {
		width: 100%;
	    max-width: 500px;
	    margin: 0 auto;
	    padding: 0 10px;
	    margin-top: 25px;
	}
}
@media(max-width: 425px){
	.pg-404 div.botoes-404 a.voltarUmaPagina {
		display: block;
		width: 100%;
	    max-width: 100px;
	    margin: 10px auto 10px auto;
	}
	.pg-404 div.botoes-404 span {
		display: block;
		text-align: center;
	}
	.pg-404 div.botoes-404 a.paginaInicial{
		display: block;
	    width: 100%;
	    max-width: 250px;
	    margin: 10px auto;
	}
}